.CreateNodeModal {
    z-index: 0;
}

#CreateNodeModal {
    z-index: 5;
}

.create-node-modal-button-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}